.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 30px;
  color: white;
}

#photo-png {
  object-fit: cover;
  width: 360px;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
}

.container-about {
  margin: 50px;
}

.about-text p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: justify;
}
