@media (max-width: 1300px){
  .container-intro {
    width: 100%;
  }

  .intro-text {
    width: 100%
  }

  .intro-name {
    margin-left: 0px;
    text-align: center;
    padding: 71px;
    top: 10px;
  }

  .my-name {
    font-size: 50px;
  }

  .content {
    width: 100%;
  }

  .nav-item a {
    font-size: 15px;
  }

  .content {
    width: 100%;
    /* left: 94px; */
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: white;
  }

  #stars {

  }

}
