<div class="footer">
  <div class="footer-container">
    <div class="contact">
      <p>Sooo what did you think of the site?? Cool?</p>
      <p>if you want know more about me, follow my social medias and let's talk </p>
    </div>
      <div class="footer-follow">
        <p>Follow me:</p>
      </div>
    <div class="footer-links">
      <a href="https://github.com/victorgqueiroz"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/victor-guilherme-723961192/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
