<div class="footer">
<hr>
  <div class="footer-container">
    <div class="footer-links">
      <a href="https://github.com/victorgqueiroz"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/victor-guilherme-723961192/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="end">
      <div class="end-text">
        <i class="fa-solid fa-copyright"></i>
      </div>
      <div class="text-name">
        <p>2023 Victor Guilherme</p>
      </div>
    </div>
  </div>
</div>
