<div class="container-about">
  <div class="about">
    <div class="about-text" data-controller="about">
       <p data-aos="fade-up">
       Hello, if you've opened this page, it's because you became interested, so how about getting to know me a little more? Nice to meet you, I'm Victor. My journey with IT began a long time ago. I completed 2 years of computer engineering, but a small ordeal called programming in C made me believe I would never code again and I didn't feel capable. However, all of that changed when I decided to confront it and truly believe I could program. That's when everything changed, and I discovered other stacks. Bringing all of this together, I recently completed a web development bootcamp at Le Wagon. Now I code in Ruby, Ruby on Rails, CSS, HTML, JS, Ajax, PostgreSQL, and I also combine all of this with MVC architecture and version control using Git.
       </p>

       <p data-aos="fade-up">
       I know that the iceberg of web development goes much deeper, which is why I continue to refine my skills. I'm also studying React and pursuing some cloud certifications like Microsoft's AZ-900. Knowledge and learning are ongoing, and we should never stop.
       </p>

        <p data-aos="fade-up">
        Now, when I'm not immersed in code, I'm definitely playing Roblox with my kids, watching an Anime, or traveling.
        </p>

        <p data-aos="fade-up">
        The quote in the banner is from the poet William Blake, and it reflects everything I believe in. If we can, even a little, open our minds to what's around us, we realize we can do anything we want and are capable. It was through this quote that I started believing in my potential.
        </p>
    </div>
    <div class="about-photo">
      <%= image_tag "photo.png", id: "photo-png", "data-aos" => "flip-right", class: "aos-init" %>
    </div>
  </div>
</div>
