<div class="container-about">
  <div class="about-text">
    <h3>Olá, se você abriu essa página é porque ficou interessado, então que tal me conhecer mais um pouco? Prazer eu sou o Victor, minha história com T.I começou a muito tempo atrás, fiz 2 anos de engenharia da computado porém um pequeno trauma chamado programar em C fez eu achar que nunca mais iria programar novamente e não me sentia capaz, porém isso tudo mudou quando eu decidi mudar isso e encarar de vez que eu podia programar, foi ai que tudo mudou e descobri outras stacks, unindo tudo isso consegui concluir recentemente o meu bootcamp em desenvolvimento web na Le Wagon, agora programo em Ruby, Ruby on Rails, CSS, HTML, JS, Ajax, PostgreeSQL, unindo tudo isso também a arquitetura MVC e versionamento em GIT.<br>

    Sei que o iceberg de desenvolvimento web é bem mais fundo, e por isso continuo me aperfeiçoando e estou estudando também React e estou em busca de algumas certificações cloud como AZ-900 da Microsoft, o conhecimento e estudo é continuo e nunca devemos parar.<br>

    Agora enquanto não estou com a cara enfiada em códigos eu com certeza estarei jogando Roblox com os meus filhos, assistindo algum Anime ou viajando.<br>

    A citação no banner é do poeta William Blake e ela reflete tudo aquilo que eu acredito, pois se conseguimos um pouco que seja abrir a nossa mente ao que está na nossa volta, vemos que podemos fazer tudo o que quisermos e temos capacidade, foi atráves dessa frase que conseguir acreditar no meu potencial.<br>

</h3>
  </div>
</div>
