<div class="container-carrer">
  <div id="career-sections" class="carrer-text">
    <div class="jobs" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="animation">
      <%= image_tag "opaque.png", id: "opaque-png"%>
      <div class="opaque-text">
        <h4>Progamador de sistemas de informação (Mar/2023 - Current)</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed vollefttates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
    <div class="jobs" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="animation">
      <%= image_tag "cb.png", id: "colegio-png"%>
      <div class="colegio-text">
        <h4>Coordenador de informática (Feb/2021 - Feb/2023)</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed vollefttates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
    <div class="jobs" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="animation">
      <%= image_tag "band.png", id: "band-png"%>
      <div class="band-text">
        <h4>Programador Trainee (Aug/2010 - Feb/2014)</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
  </div>
</div>
