<div class="container-carrer">
  <div id="career-sections" class="carrer-text">
    <div class="jobs" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="animation">
      <%= image_tag "opaque.png", id: "opaque-png"%>
      <div class="opaque-text">
        <h4>Information Systems Programmer (Mar/2023 - Current)</h4>
        <p>Currently, I am a member of the company's IT team, participating in projects involving Cloud, Infrastructure, and the openings of new chain stores. I am currently working on a project to implement the GLPI system, where I have been able to enhance my skills in Zabbix, Grafana, VMware, VirtualBox, Ubuntu Server, Linux-based systems, and PHP.</p>
      </div>
    </div>
    <div class="jobs" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="animation">
      <%= image_tag "cb.png", id: "colegio-png"%>
      <div class="colegio-text">
        <h4>IT Coordinator (Feb/2021 - Feb/2023)</h4>
        <p>Led the school's IT department, overseeing infrastructure, focusing on cloud projects using Google Workspace for Education, CCTV, networks, and planning and executing the computer lab implementation project.</p>
      </div>
    </div>
    <div class="jobs" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="animation">
      <%= image_tag "band.png", id: "band-png"%>
      <div class="band-text">
        <h4>Trainee Programmer (Aug/2010 - Feb/2014)</h4>
        <p>Responsible for the content programming of metro lines, receiving videos from journalism and content departments, and inserting them for linking and scheduling.</p>
      </div>
    </div>
  </div>
</div>
