<div class="container-carrer">
  <div id="career-sections" class="carrer-text">
    <div class="opaque">
      <%= image_tag "opaque.png", id: "opaque-png", "data-aos" => "fade-up","data-aos-duration" => "500" , class: "aos-init" %>
      <div class="opaque-text">
        <h2 data-aos="fade-up" class="aos-init" data-aos-duration="500">Progamador de sistemas de informação</h2>
        <p data-aos="fade-up" class="aos-init" data-aos-duration="500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
    <div class="colegio">
      <%= image_tag "cb.png", id: "colegio-png", "data-aos" => "fade-up","data-aos-duration" => "500" , class: "aos-init" %>
      <div class="colegio-text">
        <h2 data-aos="fade-up" class="aos-init" data-aos-duration="500">Coordenador de informática</h2>
        <p data-aos="fade-up" class="aos-init" data-aos-duration="500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
    <div class="band">
      <%= image_tag "band.png", id: "band-png", "data-aos" => "fade-up","data-aos-duration" => "500" , class: "aos-init" %>
      <div class="band-text">
        <h2 data-aos="fade-up" class="aos-init" data-aos-duration="500">Programador Trainee</h2>
        <p data-aos="fade-up" class="aos-init" data-aos-duration="500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
  </div>
</div>
