<div class="container-carrer">
  <div id="career-sections" class="carrer-text">
    <div class="opaque carrer-init" data-aos="fade-left" data-aos-duration="500">
      <%= image_tag "opaque.png", id: "opaque-png"%>
      <div class="opaque-text">
        <h2>Progamador de sistemas de informação</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
    <div class="colegio carrer-init" data-aos="fade-left" data-aos-duration="500">
      <%= image_tag "cb.png", id: "colegio-png"%>
      <div class="colegio-text">
        <h2>Coordenador de informática</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
    <div class="band carrer-init" data-aos="fade-left" data-aos-duration="500">
      <%= image_tag "band.png", id: "band-png"%>
      <div class="band-text">
        <h2>Programador Trainee</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempore alias porro adipisci tenetur vero dicta consectetur, saepe, excepturi, et sed voluptates cumque amet dolor ea harum eum enim! Nobis!</p>
      </div>
    </div>
  </div>
</div>
