<div class="container-formation">
  <div id="formation-sections" class="formation-text">
    <div class="formation-page" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="formantion">
      <%= image_tag "lewagon.png", class: "formation-img" %>
      <div class="formation-text">
        <h4>Le Wagon Boot Camp - Web Development (Mar/2023 - Current)</h4>
          <p>24-Week bootcamp</p>
      </div>
    </div>
    <div class="formation-page" id="cardId" data-aos="fade-left" data-aos-duration="500" data-aos-delay="5" data-controller="formantion">
      <%= image_tag "senac.png", id: "formation-png"%>
      <div class="formation-text">
        <h4>SENAC (Jun/2014 - Dec/2016)</h4>
        <p>Animation Design</p>
      </div>
    </div>
  </div>
</div>
