<div class="container-formation">
  <div class="formation-text">
    <h3>Formation</h3>
      <div class="formation-row">
        <%= image_tag "lewagon.png", class: "formation-img" %>
        <p class="formation-text"> 24-Week bootcamp</p>
      </div>
      <div class="formation-row">
        <%= image_tag "senac.png", class: "formation-img"%>
        <p class="formation-text"> Animation Design</p>
      </div>

  </div>
</div>
