<div class="page-container">
  <div class="container-formation">
    <div id="formation-sections" class="formation-text">
      <div class="formation-page" data-aos="fade-left" data-aos-duration="500" data-controller="formation">
        <%= image_tag "lewagon.png", id: "formation-png" %>
        <div class="formation-text">
          <h4>Le Wagon Boot Camp - Web Development (Jan/2023 - Jun/2023)</h4>
            <p>27-Week Boot Camp Fullstack Web Development</p>
            <p>Learning about CSS, HTML, Bootstrap, ES6, SQL, GitHub, Ruby, and the Ruby On Rails framework – through this course, I was able to enhance my skills to the point where I could create my own portfolio website using the covered knowledge. I developed two projects as a part of the course's conclusion, employing agile methods and MVC for their development. We used Figma for Front-End design and organized our team using a Kanban system for better management.</p>
        </div>
      </div>
      <div class="formation-page" data-aos="fade-left" data-aos-duration="500" data-controller="formation">
        <%= image_tag "senac.png", id: "formation-png" %>
        <div class="formation-text">
          <h4>SENAC (Jun/2014 - Dec/2016)</h4>
          <p>Animation Design</p>
          <p>I attended a course focused on 2D and 3D Animation Design, where I developed and took part in stop-motion projects, script creation, and learned functionalities within 3DMax, the Adobe suite, and Toon Boom Harmony. In this course, I was able to expand upon my concepts of Design and Arts and enhance my critical thinking skills.</p>
        </div>
      </div>
    </div>
  </div>
</div>
