<div class="container-intro">
  <div class="intro-text">
  <section>
      <div class="intro-name">
        <span id="typed">Victor Guilherme <br>
          Full Stack Developer
        </h2>
        <p>if the doors of perception were cleansed everything would appear to man as it is infinite - Willian Blake</p>
        </span>
      </div>
    <canvas id="stars" width="200" height="200"  data-controller="hello">
    </canvas>
  </section>
  </div>
</div>
