<div class="container-intro">
  <div class="intro-text">
    <canvas id="stars" width="300" height="300" data-controller="hello">
      <h2>Victor Guilherme <br>
          Full Stack Developer
      </h2>
      <p>if the doors of perception were cleansed everything would appear to man as it is infinite - Willian Blake</p>
    </canvas>
  </div>
</div>
