<div class="container-intro">
  <div class="intro-text">
  <section class="section-name">
      <div class="intro-name">
        <div class="my-name">
          Victor <br> Guilherme <br>
        </div>
        <div class="dev-info">
        Full Stack Developer
        </div>
        </span>
      </div>
    <canvas id="stars" width="200" height="200"  data-controller="hello">
    </canvas>
  </section>
  </div>
</div>
