<div id="intro"><%= render "pages/intro" %></div>
<div id="intro"><%= render "pages/about" %></div>
<div id="intro"><%= render "pages/formation" %></div>
<div id="intro"><%= render "pages/carrer" %></div>
