.footer {
  background-color: #060725;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
}
.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;

}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
}
.fa-github:hover {
  background-color: #5a32a3;
}

.footer-follow {
  color: white;
}

.contact {
  color: white;
}

.fa-email {
  background-color: #0073a4;
}

.end{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 8px;
}

.end-text {
  color: white;
  font-size: 25px;
  /* margin: 21px; */
  top: 25px;
  position: relative;
}

.text-name {
  color: white;
  bottom: -30px;
  /* gap: 10px; */
  position: relative;
}

hr {
  color: white;
  width: 343px;
  border-width: 3px;
  position: relative;
  border-radius: 5px;
}
