// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

#container-bar{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  right: -234px;
}

#left {
  display: flex;
  flex-direction: row;
  background: white;
}

.nav-item {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 78px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(63, 63, 63, 0.162);
}

ul {
  list-style: none;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: black;
}

#profile-pic {
  height: 187px;
  font-size: 11.5px;
  font-weight: 600;
}

.name-profile {
  font-family: 'Roboto Slab';
  height: 31px;
  width: 100%;
  color: #e8e8e8;
  background-color: #3F3F3F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  background-color: #fff;
  background-image: linear-gradient(to left, white 0%, white 50%, #FFD42D 50%, #FFD42D 100%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s, background-color 0.5s;
  cursor: pointer;

  &.active {
    background-position: left;
    background-color: #FFD42D;
  }

  &:not(.active):hover {
    background-color: #FFD42D;
  }

  &.active::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFD42D;
    transition: right 0.25s ease-in;
    animation-duration: 0.25s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    z-index: -1;
    opacity: 0;
  }

  &.no-click {
    pointer-events: none;
  }

  &.no-triangle::after {
    display: none;
  }
}

@keyframes triangle-show {
  0% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -19px;
    opacity: 1;
    z-index: 1;
  }
}


li h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 0.15em;
}

li p {
  font-size: 13px;
  margin-bottom: 0;
}
