.projects {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.projects-text {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
  gap: 40px;
}

.gringo {
  flex-direction: column;
}

.carousel-img {
  width: 30%;
}
